#audio {
  display: none;
}
* {
  font-family: "Pacifico", cursive;
}
body {
  background-color: #322f31;
}
.contenedor-neomorfismo {
  border-radius: 50px;
  background: #4a4545;
  box-shadow: 20px 20px 60px #3f3b3b, -20px -20px 60px #554f4f;
}
.neomorfismo-button {
  border-radius: 50px;
  background: #6b6666;
  box-shadow: 20px 20px 60px #5b5757, -20px -20px 60px #7b7575;
}
.neomorfismo-button:focus {
  border: none;
}
.neomorfismo-button:hover {
  background-color: rgba(244, 114, 182, 1);
  /* box-shadow: 20px 20px 60px #bc8eb6, -20px -20px 60px #fec0f6; */
}
.bg-color-primary {
  background-color: black;
}
.color-primary {
  color: #f7eeee;
}

.color-secondary {
  color: #201e1e;
}
.text-dedication {
  font-size: 2rem;
}
.gift-image {
  width: 400px;
  height: 400px;
}
